# --- Global ---
.DS_Store
Thumbs.db

# --- IDEs ---
# IntelliJ
.idea/
*.iws
*.iml
*.ipr
# VS Code
.vscode/

# --- BACKEND (Java/Spring) ---
/backend/target/
/backend/.mvn/wrapper/maven-wrapper.jar
/backend/**/*.class
/backend/application.properties

# --- DESKTOP CLIENT (C#/.NET) ---
/desktop-client/**/bin/
/desktop-client/**/obj/
/desktop-client/**/.vs/
/desktop-client/**/*.user
/desktop-client/*.suo